

body {
    margin: 0%;
    padding: 0%;
    background-color: white;
}
.frontpage-background {
    width: 100%;
    height: 100%;           /* 控制显示高度 */
    overflow: hidden;         /* 裁掉超出的部分 */
    background-color: white;  /* 白色背景 */
    top: 0px;
    margin-top: 0%;
    position: fixed;
}

.frontpage-container {
    width: 100%;
    height: 90%;           /* 控制显示高度 */
    overflow: hidden;         /* 裁掉超出的部分 */
    background-color: white;  /* 白色背景 */

    margin-top: 0%;
    margin-left: 0;
    left:0;
    position: absolute;
}
.frontpage-containerslide {
    width: 100%;
    height: 90%;           /* 控制显示高度 */
    overflow: hidden;         /* 裁掉超出的部分 */
    background-color: white;  /* 白色背景 */

    margin-top: 0%;
    margin-left: 0;
    left:0;
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.6s ease;
}




.frontpage-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 20%;  /* ✅ 调整为“中上”部分 */
    margin-top: 0%;
    margin-left: 0%;
    top: 0;
    left:0;
    position: absolute;
    z-index: 1;
}

@keyframes floatUp {
    0% {
        opacity: 0;
        transform: translateY(5px) scale(0.95);
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 0.6;
    }
    100% {
        opacity: 0;
        transform: translateY(-30px) scale(1);
    }
}

.floater{
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translateX(-50%) scale(0.8);
    z-index: 9;
    background: transparent;
}

.arrow-static{
    margin-top: 0%;
    position: absolute;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%) scale(0.8);
    top: 70%;
    
}

.arrow-floating{
    animation: floatUp 1.5s ease-out infinite;
    opacity: 0;
}


.cover-wave.visible{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 80px;
    pointer-events: none;
    z-index: 5;
    opacity: 100%;
    transform: translateY(30%);
    background: transparent;

}
.cover-wave svg{ display:block; width:100%; height:100%; }






