

body {
    margin: 0%;
    padding: 0%;
    background-color: white;
}

.frontpage-container {
    width: 100%;
    height: 90%;           /* 控制显示高度 */
    overflow: hidden;         /* 裁掉超出的部分 */
    background-color: white;  /* 白色背景 */

    margin-top: 0%;
    margin-left: 0;
    left:0;
    position: absolute;
}

.frontpage-background {
    width: 100%;
    height: 100%;           /* 控制显示高度 */
    overflow: hidden;         /* 裁掉超出的部分 */
    background-color: white;  /* 白色背景 */
    top: 0px;
    margin-top: 0%;
    position: fixed;
}

.frontpage-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 20%;  /* ✅ 调整为“中上”部分 */
    margin-top: 0%;
    margin-left: 0%;
    top: 0;
    left:0;
    position: absolute;
}

.frontpage-imgslide{
    transform: translateY(-100%);
    transition: transform 0.6s ease;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 20%;  /* ✅ 调整为“中上”部分 */
    margin-top: 0%;
    margin-left: 0;
    top: 0;
    left: 0;
    position: absolute;
}

#arrow{
    margin-top: 0%;
    position: absolute;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
    top: 70%;
}

