.Intromain{
    width: 100%;
    height: 85%;
    left: 0%;
    top: 7.5%;
    transform: translateY(-130%);
    background-color: transparent;
    position: absolute;
    transition: transform 0.6s ease;
}

.Intromainup{
    width: 100%;
    height: 85%;
    left: 0%;
    top: 7.5%;
    background-color: transparent;
    position: absolute;
    transform: translateY(0);
    transition: transform 0.6s ease;
}

#introarticle{
    white-space: pre-wrap; /* 保留换行符和空格 */
    font-size: 18px;
    line-height: 1.6;

    color: #333;
    position: absolute;
    top: 20%;
    left: 20%;
}